#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


*{
  box-sizing: border-box;
}

h1 {
  color: black;
  font-size: 64px; 
  margin-top: -20px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  padding-top: 100px;
}

.instructions {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  margin-top: -40px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}

.menu button{
   font-size:40px ;
   cursor:pointer;
}

.instructions button {
   font-size:40px ;
   cursor:pointer;
   margin-left: 460px;
}

.options button {
  font-size:40px ;
  cursor:pointer;
  margin-left: -100px;
}

.lang {
  margin-top: 0px;
  margin-left: -100px;
  font-size: 64px;
}

.insttitle{
  font-size: 60px;
  padding-left: 465px;
}

.inst{
  margin-top: -40px;
}




.GameBoard {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr 0.5fr 1fr;
  gap: 5px;
  overflow: hidden;
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.1);
  font-size: 12px;
  color: white;
}

.deck{
 
  width: 200px;
  height: 300px;
  border-radius: 8px;
  background-color: red;
  border: 2px solid #fff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.3);
  background-image:  repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 255) 0,
    rgba(255, 255, 255, 255) 1px,
    transparent 1px,
    transparent 7px
  ),
  repeating-linear-gradient(
    135deg,
    rgba(255, 255, 255, 255) 0,
    rgba(255, 255, 255, 255) 1px,
    transparent 1px,
    transparent 7px
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.Dcard{
 
  width: 200px;
  height: 300px;
  border-radius: 8px;
  background-color: red;
  border: 2px solid #fff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.3);
  background-image:  repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 255) 0,
    rgba(255, 255, 255, 255) 1px,
    transparent 1px,
    transparent 7px
  ),
  repeating-linear-gradient(
    135deg,
    rgba(255, 255, 255, 255) 0,
    rgba(255, 255, 255, 255) 1px,
    transparent 1px,
    transparent 7px
  );
  position: absolute;
  justify-content: center;
  align-items: center;
}

.dealer {
 
  width: 400px;             
  height: 300px;
  margin-left: 200px;            
  background-color: rgb(6, 65, 6);  
  border-radius: 8px;      
  display: flex;            
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
}



.textdeck{
  position:absolute;
  top: 10px;
  color: black;
}

.textdealer{
  position: absolute;
  top: 10px;
}



.playerhand{
 
  width: 800px;             
  height: 300px;
           
  background-color: rgb(6, 65, 6);  
  border-radius: 8px;      
  display: flex;            
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.textPH{
  position: absolute;
  top: 500px;
}

.animate-card{
  transform: translate(27.8rem , 30.5rem);
    transition: 0.1s;
}

.animate-card2{
  transform: translate(28.8rem , 30.5rem);
    transition: 0.1s;
}

.animate-card3{
  transform: translate(29.8rem , 30.5rem);
    transition: 0.1s;
}

.animate-card4{
  transform: translate(30.8rem , 30.5rem);
    transition: 0.1s;
}

.Stand button{
   width: 200px;
   height: 60px;
   display: flex;
   margin-left: 300px;
   margin-top: 40px;
   font-size: 50px;
   padding-left: 22px;
}


.DealCards button {
  display: flex;
  width: 200px;
  height: 50px;
  margin-top: 140px;
  font-size: 30px;
  padding-left: 10px;
  padding-top: 5px;

}

.hit button {
   width: 100px;
   height: 40px;
   display: flex;
   margin-left:50px ;
   margin-top: 150px;
   font-size: 30px;
   padding-left: 26px;
   
}
.playercard0 {

  width: 200px;
  height: 300px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
  font-size: 20px;
  display: flex;
 
}

.playercard1 {

  width: 200px;
  height: 300px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
  font-size: 20px;
  display: flex;
  
}

.dealercard0 {

  width: 200px;
  height: 300px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
  font-size: 20px;
  display: flex;
  
}

.dealercard1 {

  width: 200px;
  height: 300px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
  font-size: 20px;
  display: flex;
 
}
.red{
  color: red;
}

.black{
  color: black;
}

.num {
  font-weight: bold;
 margin-top: 110px;
 margin-left: 80px;
 font-size: 50px;
  }

.suit{
   
    margin-left: -100px;
    font-size: 50px;
  }
